
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.registro-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    width: clamp(120px, 40vw, 200px);
    color: white;

}