

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header completo */
header {
    background-color: rgba(91, 203, 218, 0.693);
    width: 100%;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}
main{  background-color: #f4f4f4; }

/* Enlaces */
#a_nav {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

  #a_hijo{ text-decoration: none;
     color: black; 
     text-align: center; }

  .hijo a{ display: block;
     text-decoration: none;
      color: black; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      text-align: center ; }

   h1{ text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif }

    h2{ text-align: center;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

     .padre { display: flex; 
        justify-content: space-around;
          align-items: center;
        height: 400px;
       
        padding: 20px; } 

  .hijo{
     padding: 40px; 
     border-radius: 5px; 
     width: 100px; }